header {
  height: 200px;
  background-color: rgba(255, 0, 0, 0.1);
}

h1 {
  color: green;
}

.box {
  height: 50px;
  width: 50px;
  border: 3px solid blue;
  background: yellow;
}
.startLeft{
  display: box;
  box-orient: vertical;


}
.startRight{
  position: fixed;
  align: right;
}

.track {
  background-color: rgba(0, 255, 0, 0.1);
  height: 200px;
}

footer {
  background-color: rgba(0, 0, 255, 0.1);
  height: 210px;
}
