header {
  height: 200px;
  background-color: rgba(255, 0, 0, 0.1);
}

h1 {
  color: green;
}

.box {
  height: 50px;
  width: 50px;
  border: 3px solid blue;
  background: yellow;
}
.playerOne{
  display: block;
  position: absolute;
  left: 0;
  }
.playerTwo{
  display: block;
  position: absolute;
  right: 0;
  }

.track {
  background-color: rgba(0, 255, 0, 0.1);
  height: 200px;
}

footer {
  background-color: rgba(0, 0, 255, 0.1);
  height: 210px;
}

button {
  display: block;
  align-content: center;
}

.track1{
  border-right: solid black 20px;
}
h2{
  text-align: center;
}
